src/main/java/com/solvd/bookingservice/schema/Cleaner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Cleaner">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cleanerID" type="xs:long"/>
                <xs:element name="cleanService" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>